/* Style Page complète */
.contenu-page {
    margin: 0 auto; /* Centre le contenu horizontalement */
    max-width: 800px; /* Facultatif : limite la largeur de la page pour la rendre plus lisible */
    background-color:  rgb(29, 29, 29);
    color: #fff;
    align-content: center;
    font-family: 'calibri', sans-serif;
}

/* Style Onglet */
.onglet {
    overflow: hidden;
    background-color: rgb(69, 69, 69);
    font-size: 0; /* Supprime l'espace entre les boutons */  
     
}
.onglet button:hover {
    background-color: rgb(9, 168, 208);
}
.onglet button.active {
    background-color: rgb(29, 29, 29);
    color: rgb(9, 168, 208);
    font-weight: bold;
    border: 1px solid rgb(9, 168, 208); /* Ajoute un cadre fin de couleur */
}
.onglet button {
    background-color: inherit;
    letter-spacing: 2px;
    border: 1px solid rgb(51, 51, 51); /* Ajoute une bordure transparente */
    outline: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.5s;
    font-size: 15px;
    
}
.onglet-contenu {
    display: none;
    flex-direction: column;
    animation: animation 0.5s ease-out;
    background:  rgb(29, 29, 29)  
}


/* onglet accueil */
.accueil-S1 img {   
    display: flex;
    align-items: center;
    height: 100%; /* La hauteur du conteneur parent est ajustée automatiquement */
    width: 100% ;   
}
.accueil-S2 {
    list-style-type: none; /* Supprime les puces par défaut */
    text-align: center; /* Justifie le texte à l'intérieur des éléments de liste */
    padding: 0px;
}
.accueil-S2 li {
    padding: 10px;
}
.accueil-S3 {
    text-decoration: none; /* Supprime la décoration de lien par défaut */
    color: rgb(9, 168, 208);
}

/* onglet contact */
.contact-S1 {
    list-style-type: none; /* Supprime les puces par défaut */
    text-align: center; /* Justifie le texte à l'intérieur des éléments de liste */
    padding: 0; /* Supprime le remplissage par défaut */
}

.contact-S1 li{
    padding: 10px; 
}
.contact-S1 img {
    height: 15px;
    margin-right: 5px;
}
.contact-S1 li span {
    color: rgb(9, 168, 208);
}
.contact-S1 a{
    margin-left: 5px; /* Ajoute une marge à gauche du lien */
    text-decoration: none; /* Supprime la décoration de lien par défaut */
    color: white; /* Utilise la couleur de texte héritée */
}
.contact-S2 {
    list-style-type: none; /* Supprime les puces par défaut */
    display: flex; /* Utiliser flexbox pour aligner les éléments sur la même ligne */
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
}
.contact-icon {
    height: 20px; /* Modifier la taille des icônes selon vos préférences */
    width: auto; /* Garder le rapport hauteur-largeur original */
    margin: 0 5px; /* Ajouter de la marge entre les icônes */  
}
.contact-ligne {
    border-bottom: 1px solid rgb(9, 168, 208); /* Ajoute une bordure bleue en bas */
    padding-bottom: 10px; /* Ajoute un espace en bas de la ligne */
    width: 400px; /* Largeur de la ligne */
    margin: 0 auto; /* Centre la ligne horizontalement */
    margin-bottom: 20px; /* Espace en bas de la ligne */
}
